body{
  background: #000;
}
ul{
  width: 133px;
  height: 200px;
  margin: 200px auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(800px) rotateY(0deg) rotateX(0deg);
  -moz-transform: perspective(800px) rotateY(0deg) rotateX(0deg);
  -ms-transform: perspective(800px) rotateY(0deg) rotateX(0deg);
  -o-transform: perspective(800px) rotateY(0deg) rotateX(0deg);
  transform: perspective(800px) rotateY(0deg) rotateX(0deg);
  position: relative;
  li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    -webkit-box-shadow: 0 0 20px #fff;
    -moz-box-shadow: 0 0 20px #fff;
    box-shadow: 0 0 20px #fff;
    overflow: hidden;
    -webkit-transform: rotateY(0deg) translateZ(0px);
    -moz-transform: rotateY(0deg) translateZ(0px);
    -ms-transform: rotateY(0deg) translateZ(0px);
    -o-transform: rotateY(0deg) translateZ(0px);
    transform: rotateY(0deg) translateZ(0px);
    -webkit-transition: 1s all ease 1s;
    -moz-transition: 1s all ease 1s;
    -ms-transition: 1s all ease 1s;
    -o-transition: 1s all ease 1s;
    transition: 1s all ease 1s;
    img{
      width: 100%;
      height: 100%;
    }
  }
}