html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
$default-font-size: 20px !default;
html {
  font-size: $default-font-size;
}
@function px2rem($px){//$px为需要转换的字号
  @return $px / $default-font-size * 1rem;
}
.box{
  width: px2rem(700px);
  height: px2rem(400px);
  margin: px2rem(100px) auto;
  position: relative;
  overflow: hidden;
  a{
    position: absolute;
    top: 50%;
    width: px2rem(100px);
    margin-top: px2rem(-25px);
    text-align: center;
    line-height: px2rem(100px);
    text-decoration: none;
    font-size: px2rem(40px);
    height: px2rem(100px);
    background: rgba(255,255,255,0.5);
    color: #00FFFF;
    z-index: 2;
    display: none;
    &:nth-child(1){
      left: 0;
    }
    &:nth-child(2){
      right: 0;
    }
  }
  ul{
    width: px2rem(3500px);
    height: 400px;
    /*-webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease;*/
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    position: absolute;
    left: 0;
    top: 0;
    li{
      width: 700px;
      height: 100%;
      float: left;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  ol{
    width: 150px;
    height: 20px;
    position: absolute;
    right: 100px;
    bottom: 10px;
    li{
      width: 20px;
      height: 20px;
      background: #fff;
      float: left;
      margin-right: 10px;
      border-radius: 50%;
      &.active{
        background: #f00;
      }
    }
  }
}