html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box{
  width: 700px;
  height: 400px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  a{
    position: absolute;
    top: 50%;
    width: 100px;
    margin-top: -25px;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    font-size: 40px;
    height: 100px;
    background: rgba(255,255,255,0.5);
    color: #00FFFF;
    z-index: 2;
    display: none;
    &:nth-child(1){
      left: 0;
    }
    &:nth-child(2){
      right: 0;
    }
  }
  ul{
    width: 3500px;
    height: 400px;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease;
    -webkit-transform: translateX(-700px);
    -moz-transform: translateX(-700px);
    -ms-transform: translateX(-700px);
    -o-transform: translateX(-700px);
    transform: translateX(-700px);
    position: absolute;
    left: 0;
    top: 0;
    li{
      width: 700px;
      height: 100%;
      float: left;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  ol{
    width: 150px;
    height: 20px;
    position: absolute;
    right: 100px;
    bottom: 10px;
    li{
      width: 20px;
      height: 20px;
      background: #fff;
      float: left;
      margin-right: 10px;
      border-radius: 50%;
      &.active{
        background: #f00;
      }
    }
  }
}