	*{padding:0;margin:0;}
	body,p,ol,ul,dl{padding:0;margin:0;}
	h1,h2,h3,h4,h5,h6{ font-size:12px; font-weight:normal;
	}
	li{ List-style:none;}
	a{ text-decoration:none; color:#000;}
	em,i{ font-style:normal;}
	strong,b{ font-weight:normal;}
	html,body{width: 100%;height: 100%;}
	body{font-size: 20px;}