html.fssopen, html.fssopen body{ /* class added to HTML element when full screen slider is open to hide potential body scrollbars */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
}
section.dd_fullscreenslider{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  font-size: 16px; /* base font size */
  visibility: visible;
  overflow: hidden;
  div.closex{ /* Large x close button inside Slider */
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: block;
    position: fixed;
    cursor: pointer;
    text-indent: -1000px;
    opacity: 0.8;
    z-index: 1001;
    top: 5px;
    right: 3px;
    &::before,&::after{ /* render large x inside close button */
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 6px;
      background: white; /* color of x button */
      top: 50%;
      margin-top: -3px;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &::after{ /* render large cross inside close button */
      -ms-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
  article.slide{ /* CSS for each slide */
    width: 100%;
    height: 100%;
    display: block;
    font-family: 'Lato', sans-serif; /* Use google font */
    font-size: 1.2em;
    line-height: 2em;
    color: white;
    overflow: hidden;
    position: relative;
    -webkit-box-sizing: border-box; /* include padding/ border as part of declared menu width */
    -moz-box-sizing: border-box;
    z-index: 1000;
    background: #E56464;
    -webkit-transform: translate3d(0, 0, 0); /* to prevent flickering in iOS */
    &:nth-child(1){ /* 2nd demo slide bgcolor */
      background: url(../image/bj1.jpg) no-repeat;
      background-size: 100% 100%;
    }
    &:nth-child(2){ /* 2nd demo slide bgcolor */
      background: url(../image/bj2.jpg) no-repeat;
      background-size: 100% 100%;
    }
    &:nth-child(3){ /* 3rd demo slide bgcolor */
      background: url(../image/bj3.jpg) no-repeat;
      background-size: 100% 100%;
    }
    &:nth-child(4){ /* 4th demo slide bgcolor */
      background: url(../image/bj4.jpg) no-repeat;
       background-size: 100% 100%;
     }
    &:nth-child(5){ /* 4th demo slide bgcolor */
      background: url(../image/bj5.jpg) no-repeat;
      background-size: 100% 100%;
      color: #ff148a;
      font-weight: bold;
    }
    &:nth-child(6){ /* 4th demo slide bgcolor */
      background: url(../image/bj6.jpg) no-repeat;
      background-size: 100% 100%;
      color: #ff148a;
      font-weight: bold;
    }
    &:nth-child(7){ /* 4th demo slide bgcolor */
      background: url(../image/bj7.jpg) no-repeat;
      background-size: 100% 100%;
      color: #ff148a;
      font-weight: bold;
    }
    h1{
      width: 100%;
      height: 200px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -100px 0 0 -50%;
      text-align: center;
      line-height: 200px;
      font-size: 80px;
    }
    &.information{
      .content{
        width: 450px;
        color: #f00;
        margin: 50px auto;
        line-height: 40px;
        font-size: 25px;
        h2{
          font-size: 40px;
          line-height: 50px;
          margin-bottom: 20px;
        }
        p{
          text-indent: 2em;
          margin: 0;
        };
      }
    }
    &.personSkills{
      div{
        width: 100px;
        height: 40px;
        border: 2px solid #00FFFF;
        margin: 15px 0 0 50px;
        text-align: center;
        line-height: 40px;
        border-radius: 10px;
        cursor: url("../image/mouse.png"),pointer;
        &.active{
          background: #e9eb3c;
        }
      }
      h2{
        width: 700px;
        height: 80px;
        position: absolute;
        left: 20%;
        top: 10%;
        background: #2efaea;
        text-align: center;
        line-height: 80px;
        font-size: 50px;

      }
      .canvas{
        position: absolute;
        left: 20%;
        top: 23%;
        width: 700px;
        height: 500px;
        background: #fff;
        border:1px solid #000;
        overflow: hidden;
        canvas{
          background: rgba(67, 255, 235, 0.45);
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    .project{
      width: 752px;
      overflow: hidden;
      margin: 0 auto;
      h2{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
      }
      input{
        width: 180px;
        height: 50px;
        font-size: 20px;
        border: 1px solid #00f;
        margin-bottom: 5px;
        &.active{
          background: #ff0000;
        }
      }
      ul{
        width: 750px;
        height: 420px;
        overflow: hidden;
        border: 1px solid #000;
        margin: 0;
        font-size: 20px;
        li{
          width: 100%;
          height: 100%;
          display: none;
          div{
            text-indent: 2em;
            b{
              font-weight: bold;
              font-size: 20px;
            }
          }
          p{
            text-indent: 4em;
          }
          h4{
           font-size: 40px;
            line-height: 60px;
            text-align: center;
            a{
              color: #00f;
            }
          }
          &.active{
            display: block;
          }
        }
      }
    }
    .ProSkill{
      height: 500px;
      width: 720px;
      margin: 0 auto;
      h2{
        font-size: 40px;
        line-height: 50px;
        margin: 20px 0;
      }
      p{
        text-indent: 2em;
      }
    }
    .education{
      width: 660px;
      margin: 0 auto;
      h2{
        font-size: 40px;
        line-height: 50px;
        margin: 20px 0;
      }
      p{
        text-indent: 4em;
        font-size: 24px;
        &:nth-child(2){
          font-size: 35px;
        }
      }
    }
    &.end{
      width: 100%;
      height: 100%;
      p{
        width: 100%;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -100px 0 0 -50%;
        text-align: center;
        line-height: 200px;
        font-size: 80px;
      }
    }
    .scrollable{ /* Assign this class to elements within a slide that should be scrollable */
      overflow: auto;
    }
  }
}
div.slidewrapper{ /* wrapper DIV that surrounds the ARTICLE elements inside .dd_fullscreenslider */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0); /* to prevent flickering in iOS */
  -moz-transition: -moz-transform 0.5s; /* actual duration controlled by script */
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
ul.fssnav{ /* UL list dynamically added by script for Slider navigation */
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 50%; /* vertically center menu */
  right: 20px; /* distance from right edge of screen */
  transform: translateY(-50%); /* vertically center menu */
  li{
    margin-bottom: 15px;
    &.selected a::after{
      top: 0; /* fill up selected A element from bottom to top */
    }
    a{
      text-decoration: none;
      border: 5px solid white; /* border color of nav links */
      border-radius: 50%;
      width: 10px; /* dimensions of nav links */
      height: 10px;
      display: block;
      position: relative;
      text-indent: -500px;
      outline: none;
      overflow: hidden;
      &::after{ /* create "fill" element inside A */
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100%;
        left: 0;
        background: white; /* color of "fill" element */
        transition: top 0.5s; /* transition for "fill up" effect */
      }
    }
  }
}


