*{
    padding: 0;
    margin: 0;
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    background-size:100%;
}
.page1{
    width: 100%;
    height: 100%;
    background: url('../image/lantianbaiyun.jpg') no-repeat;
    background-size: 100%;
    position: relative;

}
.page1 .box div{
    width: 100px;
    height: 100px;

    background: rgb(255, 255, 0);
    /*margin-left: -100px;
    margin-bottom: -100px;*/
    position: absolute;
    left: 100px;
    bottom: 100px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-box-shadow: 0 0 50px rgba(255, 255, 0, 1);
    -moz-box-shadow: 0 0 50px rgba(255, 255, 0, 1);
    box-shadow: 0 0 50px rgba(255, 255, 0, 1);

}

.page2{
    background: url(../image/background.jpg) no-repeat;
    width: 100%;

    background-size: 1366px 662px;

    height: 662px;
    position: relative;
}
.page2 h2{

    margin-left: -263px;
    width: 526px;
    height: 57px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 100px;
    font-size: 50px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    text-shadow: 2px 2px 5px #fff;
}
.page2 h2:active{
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
    box-shadow: 10px 5px 10px #0ff;
}
.page2 .loading{
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    top: 180px;
    border-bottom-color:transparent;
    margin-left: -41px;
    border-radius: 50%;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease;

}
.page2 .loading:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);;
}
.page2 .loading .div{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -31px 0 0 -31px;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
}
.page2 .div div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    border-right-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
}
.page2 .time{
    box-shadow: 10px 10px 50px #000;
    width: 600px;
    height: 200px;
    background: rgba(255,255,255,0.3);
    font-size: 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 300px;
}
.page2 .time img{
    border:none;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease;
}
.page2 .time img:active{
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
}