html.fssopen, html.fssopen body {
  /* class added to HTML element when full screen slider is open to hide potential body scrollbars */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden; }

section.dd_fullscreenslider {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  font-size: 16px;
  /* base font size */
  visibility: visible;
  overflow: hidden; }
  section.dd_fullscreenslider div.closex {
    /* Large x close button inside Slider */
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: block;
    position: fixed;
    cursor: pointer;
    text-indent: -1000px;
    opacity: 0.8;
    z-index: 1001;
    top: 5px;
    right: 3px; }
    section.dd_fullscreenslider div.closex::before, section.dd_fullscreenslider div.closex::after {
      /* render large x inside close button */
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 6px;
      background: white;
      /* color of x button */
      top: 50%;
      margin-top: -3px;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    section.dd_fullscreenslider div.closex::after {
      /* render large cross inside close button */
      -ms-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg); }
  section.dd_fullscreenslider article.slide {
    /* CSS for each slide */
    width: 100%;
    height: 100%;
    display: block;
    font-family: 'Lato', sans-serif;
    /* Use google font */
    font-size: 1.2em;
    line-height: 2em;
    color: white;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    /* include padding/ border as part of declared menu width */
    -moz-box-sizing: border-box;
    z-index: 1000;
    background: #E56464;
    -webkit-transform: translate3d(0, 0, 0);
    /* to prevent flickering in iOS */ }
    section.dd_fullscreenslider article.slide:nth-of-type(1) {
      /* 2nd demo slide bgcolor */
      background: url(../image/bj1.jpg) no-repeat;
      background-size: 100% 100%; }
    section.dd_fullscreenslider article.slide:nth-of-type(2) {
      /* 2nd demo slide bgcolor */
      background: url(../image/background.jpg) no-repeat;
      background-size: 100% 100%; }
    section.dd_fullscreenslider article.slide:nth-of-type(3) {
      /* 3rd demo slide bgcolor */
      background: url(../image/bj.jpg) no-repeat;
      background-size: 100% 100%; }
    section.dd_fullscreenslider article.slide:nth-of-type(4) {
      /* 4th demo slide bgcolor */
      background: url(../image/bj3.jpg) no-repeat;
      background-size: 100% 100%; }
    section.dd_fullscreenslider article.slide:nth-of-type(5) {
      /* 4th demo slide bgcolor */
      background: url(../image/bj4.jpg) no-repeat;
      background-size: 100% 100%;
      color: #ff148a;
      font-weight: bold; }
    section.dd_fullscreenslider article.slide audio {
      width: 500px;
      height: 50px;
      position: absolute;
      left: 50%;
      top: 25%;
      margin: -25px 0 0 -250px; }
    section.dd_fullscreenslider article.slide .music {
      background: #ccc;
      border-radius: 10px;
      width: 200px;
      height: 240px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -100px;
      margin-top: -100px; }
      section.dd_fullscreenslider article.slide .music li {
        width: 160px;
        height: 40px;
        margin: 5px 0;
        cursor: pointer;
        border-radius: 10px;
        padding-left: 10px; }
        section.dd_fullscreenslider article.slide .music li.active {
          background: #f00; }
        section.dd_fullscreenslider article.slide .music li:active {
          background: #00f; }
    section.dd_fullscreenslider article.slide div {
      width: 100px;
      height: 40px;
      border: 2px solid #00FFFF;
      margin: 15px 0 0 50px;
      text-align: center;
      line-height: 40px;
      border-radius: 10px;
      cursor: url("../image/mouse.png"), pointer; }
      section.dd_fullscreenslider article.slide div.active {
        background: #e9eb3c; }
    section.dd_fullscreenslider article.slide h4 {
      width: 700px;
      height: 80px;
      position: absolute;
      left: 20%;
      top: 0;
      background: #2efaea;
      text-align: center;
      line-height: 80px;
      font-size: 50px; }
    section.dd_fullscreenslider article.slide .canvas {
      position: absolute;
      left: 20%;
      top: 23%;
      width: 700px;
      height: 500px;
      background: #fff;
      border: 1px solid #000;
      overflow: hidden; }
      section.dd_fullscreenslider article.slide .canvas canvas {
        background: rgba(67, 255, 235, 0.45);
        position: absolute;
        left: 0;
        top: 0; }
    section.dd_fullscreenslider article.slide p {
      position: relative;
      top: 35%;
      font: 700 60px 'Microsoft Yahei';
      text-align: center; }
    section.dd_fullscreenslider article.slide .scrollable {
      /* Assign this class to elements within a slide that should be scrollable */
      overflow: auto; }

div.slidewrapper {
  /* wrapper DIV that surrounds the ARTICLE elements inside .dd_fullscreenslider */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  /* to prevent flickering in iOS */
  -moz-transition: -moz-transform 0.5s;
  /* actual duration controlled by script */
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

ul.fssnav {
  /* UL list dynamically added by script for Slider navigation */
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 50%;
  /* vertically center menu */
  right: 20px;
  /* distance from right edge of screen */
  transform: translateY(-50%);
  /* vertically center menu */ }
  ul.fssnav li {
    margin-bottom: 15px; }
    ul.fssnav li.selected a::after {
      top: 0;
      /* fill up selected A element from bottom to top */ }
    ul.fssnav li a {
      text-decoration: none;
      border: 5px solid white;
      /* border color of nav links */
      border-radius: 50%;
      width: 10px;
      /* dimensions of nav links */
      height: 10px;
      display: block;
      position: relative;
      text-indent: -500px;
      outline: none;
      overflow: hidden; }
      ul.fssnav li a::after {
        /* create "fill" element inside A */
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100%;
        left: 0;
        background: white;
        /* color of "fill" element */
        transition: top 0.5s;
        /* transition for "fill up" effect */ }

.stop {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 100px;
  top: 50%;
  background: url(../image/stop.jpg) no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
  z-index: 3000; }

/*# sourceMappingURL=slide.css.map */
