$default-font-size: 20px !default;
html {
  font-size: $default-font-size;
}
@function px2rem($px){
  @return $px / $default-font-size * 1rem;
}
html,body{
   width: 100%;
   height: 100%;
}
body{
  overflow: hidden;
  cursor: url(../image/mouse.png),url(../image/mouse.png),pointer;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.head{
  width: 100%;
  height: 100%;
  background: url(../image/lantianbaiyun.jpg) no-repeat;
  background-size:100% 100%;
  position: relative;
  .header{
    margin-top: px2rem(20px);
    width: 100%;
    height: px2rem(50px);
    background: rgba(250,250,250,0.5);
    position: fixed;
    left: 0;
    top: 0;
    ul{
      width: 100%;
      height: px2rem(50px);
      position: absolute;
      right: 0;
      top: 0;
      li{
        float: right;
        width: px2rem(50px);
        height: px2rem(50px);
        margin-right: px2rem(10px);
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
        }
        &.information{
          display: none;
          font-size: px2rem(20px);
          position: absolute;
          top: px2rem(60px);
          margin: 0;
          line-height: px2rem(50px);
          -webkit-border-radius: px2rem(10px);
          -moz-border-radius: px2rem(10px);
          border-radius: px2rem(10px);
          background: rgba(255, 255, 255, 0.5);
        }
        &:nth-child(7){
          width: px2rem(120px);
          right: px2rem(30px);
        }
        &:nth-child(8){
          right: px2rem(225px);
          width: px2rem(100px);
          height: px2rem(100px);
        }
        &:nth-child(9){
          right: px2rem(285px);
          width: px2rem(100px);
          height: px2rem(100px);
        }
      }
    }
  };
  .nav{
    width: px2rem(200px);
    height: px2rem(500px);
    position: absolute;
    left: px2rem(-140px);
    top: px2rem(200px);
    a{
      display: block;
      width: px2rem(140px);
      height:px2rem(30px);
      background: -webkit-linear-gradient(left, #58ffe1, #ff81ea, #e9eb3c);
      font-size: px2rem(20px);
      text-align: center;
      line-height: px2rem(30px);
      color: #fff;
      border: px2rem(2px) solid #000;
      font-family: 'Microsoft Yahei';
      margin-right: px2rem(20px);
      margin-bottom: px2rem(10px);
      padding: 0 px2rem(10px);
      font-weight: bold;
      border-radius:px2rem(20px);
      -webkit-border-radius:px2rem(20px);
      -webkit-transition: 1s all ease;
      -moz-transition: 1s all ease;
      -ms-transition: 1s all ease;
      -o-transition: 1s all ease;
      transition: 1s all ease;
      &:hover{
        left: px2rem(140px);
        -webkit-transform: translate(px2rem(222px),0) scale(2,2);
        -moz-transform: translate(px2rem(222px),0) scale(2,2);
        -ms-transform: translate(px2rem(222px),0) scale(2,2);
        -o-transform: translate(px2rem(222px),0) scale(2,2);
        transform: translate(px2rem(222px),0) scale(2,2);
      }
    }
  }
  @-webkit-keyframes clock {
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }
  .clock1{
    z-index: 20;
    position: absolute;
    right:px2rem(50px);
    top: px2rem(200px);
    width: px2rem(200px);
    height: px2rem(200px);
    border-radius: 50%;
    border: px2rem(5px) solid #1cfff6;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease;
    -webkit-animation: clock 4s forwards;
    -o-animation: clock 4s forwards;
    animation: clock 4s forwards;
    .h{
      width: px2rem(16px);
      height: px2rem(40px);
      background: #000;
      margin-left: -8px;
      position: absolute;
      left: 50%;
      top: px2rem(60px);
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      z-index: 1;
      -webkit-transform: rotate(10deg);
      -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      -o-transform: rotate(10deg);
      transform: rotate(10deg);
      transform-origin: bottom;
    }
    .m{
      width: px2rem(10px);
      height: px2rem(60px);
      background: #00f;
      margin-left: px2rem(-5px);
      position: absolute;
      z-index: 2;
      left: 50%;
      top: px2rem(40px);
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      -webkit-transform: rotate(20deg);
      -moz-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
      -o-transform: rotate(20deg);
      transform: rotate(20deg);
      transform-origin: bottom;
    }
    .s{
      width: px2rem(6px);
      height: px2rem(90px);
      background: #f00;
      margin-left: px2rem(-3px);
      position: absolute;
      z-index: 3;
      left: 50%;
      top: px2rem(10px);
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      transform: rotate(30deg);
      transform-origin: bottom;
    }
    .center{
      width: px2rem(10px);
      height: px2rem(10px);
      background: #1bffdd;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: px2rem(-5px) 0 0 px2rem(-5px);
      border-radius: 50%;
      z-index: 5;
    }
    span{
      width: px2rem(6px);
      height: px2rem(10px);
      background: #ff42ee;
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: px2rem(-3px);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      transform-origin: 3px 100px;
      text-align: center;
      font-size: px2rem(20px);
      em{
        width: px2rem(20px);
        height: px2rem(25px);
        text-align: center;
        line-height: px2rem(25px);
        color: #000;
        position: absolute;
        top: px2rem(20px);
        left: 0;
        margin-left: px2rem(-10px);
        font-size: px2rem(20px);
      }
    }
  }
  .resume{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: px2rem(-50px) 0 0 px2rem(-100px);
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    width: px2rem(200px);
    height: px2rem(100px);
    line-height: px2rem(100px);
    text-align: center;
    font-size: px2rem(25px);
    font-weight: bold;
    border-radius: px2rem(40px);
    color: #fff;
    background: -webkit-linear-gradient(left, #58ffe1, #ff81ea, #e9eb3c);
    &:hover{
      -webkit-transform: scale(2,2);
      -moz-transform: scale(2,2);
      -ms-transform: scale(2,2);
      -o-transform: scale(2,2);
      transform: scale(2,2);
    }
  }
  .list{
    width: px2rem(180px);
    text-align: left;
    line-height: px2rem(40px);
    -webkit-border-radius: px2rem(10px);
    -moz-border-radius: px2rem(10px);
    border-radius: px2rem(10px);
    height: px2rem(40px);
    font-size: px2rem(30px);
    overflow: hidden;
    background: rgba(0, 0, 255, 0.43);
    position: absolute;
    right: px2rem(-120px);
    bottom: px2rem(100px);
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease;
    &:hover{
      right: 0;
      text-align: center;
    }
  }
}