html,body{
   width: 100%;
   height: 100%;
}
body{
  cursor: url(../image/mouse.png),url(../image/mouse.png),pointer;
}
.head{
  width: 100%;
  height: 100%;
  background: url(../image/lantianbaiyun.jpg) no-repeat;
  background-size:100% 100%;
  position: relative;
  .header{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    background: rgba(250,250,250,0.5);
    position: fixed;
    left: 0;
    top: 0;
    ul{

      width: 720px;
      height: 100px;
      position: absolute;
      right: 0;
      top: 0;
      li{
        float: left;
        width: 100px;
        height: 100px;
        margin-right: 20px;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        overflow: hidden;
      }
    }
  };
  .nav{
    width: 800px;
    height: 500px;
    position: absolute;
    left: 200px;
    top: 200px;
    a{
      display: block;
      margin-right: 20px;
      margin-bottom: 10px;
      padding-left: 20px;
      -webkit-border-radius:20px;
      background: -webkit-linear-gradient(left, #58ffe1, #ff81ea, #e9eb3c);
      font-weight: bold;
      -moz-border-radius:20px;
      border-radius:20px;
      float: left;
      width: 300px;
      color: #fff;
      height: 50px;
      font-size: 30px;
      line-height: 50px;
      text-decoration: none;
      border: 2px solid #000;
      font-family: Microsoft Yahei;
    }
  }

}