@CHARSET "UTF-8";
#header{width:100%;   text-align:center; padding-top:5px; background:#fff; font-weight:bold; padding-bottom:5px; line-height:44px; font:bold 20px/44px "微软雅黑"; color:#434343; position:relative;  border-bottom:1px solid #bebebe;}
.header_left{width:74px; height:34px; background:url(../../images/abc.png) center 10px no-repeat; background-size:26px 24px; position:absolute; left:0; top:0;  margin-top:5px;}
.header_right{width:74px; height:34px; background:url(../../images/13.png) center 10px no-repeat; position:absolute; right:0; top:0; background-size:26px 21px; margin-top:5px;}
/*header css style*/

 
#nav{text-align: left;
width: 100%;
padding: 5px 0 5px 0px;
background: #36a9e1;
display: -webkit-box;}
#nav li{height: 28px;
line-height: 28px;
font: 100 14px/28px '微软雅黑';
-webkit-box-flex: 1;}
#nav li a{display:block; color:#fff; width:100%; font-weight:bold;}

 
 /*banner css style*/
.out_b{overflow:hidden; margin:0 auto; width:320px; padding-top:10px; padding-bottom:10px;}
.slide {position : relative; height:150px; overflow:hidden; width:320px; overflow:hidden; margin:0 auto;}
.slide .content{height:320px; -webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;}
.slide a {display:inline-block; float:left; width:320px; height:150px; }
.slide a img{width:320px;}
.slide .mark {width: 100%; position: absolute;height: 3px; bottom: 0; background-color: rgba(51,51,51,0.5); -webkit-transform: translate3d(0,0,0); display: -webkit-box;} 
.slide .mark li {display: block; -webkit-box-flex: 1; height: 100%; overflow: hidden;}
.slide .mark li.active { background-color:#25a4bb;}

.scroll{width:320px;height:auto;margin:0 auto 0 auto; position:relative;overflow:hidden;}
.mod_01{float:left;width:320px;}
.mod_01 img{display:block;width:100%;height:auto;}
.dotModule_new{padding:0 5px;height:11px;line-height:6px;-webkit-border-radius:11px;background:rgba(45,45,45,0.5);position:absolute;bottom:5px;right:50%;z-index:11;width:80px;margin-right:-40px;}
#slide_01_dot{text-align:center;margin:1px 0 0 0;}
#slide_01_dot span{display:inline-block;margin:0 2px;width:5px;height:5px;vertical-align:middle;background:#f7f7f7;-webkit-border-radius:5px;}
#slide_01_dot .selected{background:#66ff33;}

 /*product css style*/
 
.products{position:relative; width:99.5%; margin:0 auto;margin-top:10px; background:#fff;}
.contentss{padding:5px; line-height:25px; text-align:left; text-indent:25px;}
.ee{padding-left:20px; font-family:"微软雅黑";}
.products_title{background:url(../../images/eef.jpg) 18px center no-repeat #fff; background-size:2px 22px; text-align:left; padding-left:30px; border-bottom:1px solid #d5d5d5;  font:100 14px/40px "微软雅黑"; height:40px; width:100%;  border-bottom:1px solid #d5d5d5;}
.products ul{padding-bottom:5px; text-align:left !important;}
.products ul li{display: inline-block;margin-top: 15px;text-align: center;overflow: hidden; width:49.0%; padding:5px;}
.products ul li a{display: inline-block;overflow: hidden;border: 1px solid #fff;box-shadow: 3px 3px 5px #aaa; width:100%;}
.products ul li a img{display: block;width:100%;height: auto;vertical-align: middle;}
.products ul li  h3{display: block;width:100%;line-height: 30px;height: 30px;overflow: hidden;text-align: center;background: #eee;}


 /* news css style*/
.news{position:relative; width:99.5%; margin:0 auto;margin-top:10px; background:#fff;}
.news_title{background:url(../../images/eef.jpg) 18px center no-repeat #fff; background-size:2px 22px; text-align:left; padding-left:30px; border-bottom:1px solid #d5d5d5;  font:100 14px/40px "微软雅黑"; height:40px; width:100%;  border-bottom:1px solid #d5d5d5;}
.news ul{}
.news ul li{height:35px; line-height:35px; border-bottom:1px solid #d3d3d3; background:url(../../images/dd1.jpg) 95% center no-repeat; background-size:20px 20px;}
.news ul li a{font:100 12px/35px "微软雅黑"; padding-left:28px; text-align:left; display:block;}

/* product_cate css style*/
.product_cate{width:99.5%; margin:0 auto;margin-top:20px;}
.product_cate_title{background:url(../../images/eef.jpg) 18px center no-repeat #fff; background-size:2px 22px; text-align:left; padding-left:30px; border-bottom:1px solid #d5d5d5;  font:100 16px/40px "微软雅黑"; height:40px; width:100%;  border-bottom:1px solid #d5d5d5;}
.product_cate ul{}
.product_cate ul li{height:35px; line-height:35px; border-bottom:1px solid #d3d3d3; background:url(../../images/abcd.png) 95% center no-repeat; background-size:20px 20px;}
.product_cate ul li a{font:100 12px/35px "微软雅黑"; padding-left:20px; text-align:left; display:block;}
 
/* footer css style*/
.distraction{height:58px; width:100%;}
.footer{background:#303030; display:-webkit-box; width:100%; margin-top:6px; background-size:9px 128px; position: fixed; z-index: 110;bottom: 0;left: 0;}
.footer a{-webkit-box-flex: 1;display: -webkit-box; color:#fff;}
.footer span{width:74px; display:block; margin:0 auto; text-align:right; font:100 16px/35px "微软雅黑"; color:#fff; height:35px;}
.footer span.span1{background:url(../../images/a1.png) 10px 6px no-repeat; background-size:23px 27px;}
.footer span.span2{background:url(../../images/a2.png) 10px 4px no-repeat; background-size:23px 27px;}
.footer span.span3{background:url(../../images/message.png) 10px 6px no-repeat; background-size:23px 27px;}
.footer span.span0{background:url(../../images/icon.png) 10px -75px no-repeat; background-size:110px 385px;}
 
 
/*share css style*/
#mobile_share{position:fixed;right:0;bottom:90px;
width: 123px;z-index: 99999;background: #fff;padding: 0;overflow: hidden;-webkit-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out;-webkit-transform: translateX(100%);}
#mobile_share h2.title{text-align:center;line-height:30px;height:30px;background: #717577;color: #fff;font-size:14px;}
#mobile_share .share_item{padding: 8px;background: #fff;border: 1px solid #f1f1f1;}
#mobile_share .share_item li{display: block;overflow:hidden;margin: 8px 0;border-bottom: 1px solid #f1f1f1;padding-bottom: 8px;}
.share-link {display: block;margin:0 auto;width: 105px;overflow: hidden;line-height: 32px;font-size: 12px;padding-left: inherit;}
.share-link i{background: url(../../images/share_icon.png) no-repeat;background-size: 200px 32px;width:32px;height:32px;display: block;margin-right: 20px;float: left;}
.share-link span{display:inline-block;}
.share-weibo i{background-position:0 0;}
.share-renren i{background-position:-42px 0;}
.share-douban i{background-position:-84px 0;}
.share-qweibo i{background-position:-126px 0;}
.share-qzone i{background-position:-168px 0;}
body{width:100%; height:100%; overflow-x:hidden; position:relative;}

/*job css style*/
.jobcontent h4{background-color:#fff;height: 26px;line-height: 26px;padding-left:15px;}
.jobcontent .text{padding:5px 15px;line-height:20px;}

/*search css style*/
.search{background:#eae8e8;padding:8px 10% 0;}
#formsearch{width:100%;}
#keyword{border:1px solid #959595;line-height:32px;height:32px;width:80%;text-align:left;text-indent:20px;float:left;border-radius:4px;}
#s_btn{width:15%;line-height:32px;height:32px;background:#ed6d00;border-radius:6px;float:right;color:#fff;}

 /*search news css style*/
.newslist{border-top:10px solid #fff;border-bottom:10px solid #fff;}
.newslist li{text-align:left;padding-left:10px;line-height:34px;height:34px;position:relative;margin-bottom:1px;background:#fff;font-family: "Microsoft YaHei"}
.newslist li span{position:absolute;right:10px;top:0;}




