@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%; }

body {
  background: url(../image/bg.jpg) no-repeat;
  background-size: 100% 100%; }

.page1 {
  width: 362px;
  height: 200px;
  border: 2px solid #000;
  padding-left: 88px;
  padding-top: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -225px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fafafa; }
  .page1 .face {
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    margin: -63px 0 0 -63px;
    width: 124px;
    height: 124px;
    border: 2px solid #000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    .page1 .face img {
      width: 120px;
      height: 120px;
      margin: 2px 2px; }
    .page1 .face a {
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.5);
      text-align: center;
      line-height: 20px;
      font-size: 20px;
      color: #000;
      position: absolute;
      top: 50%;
      border: none;
      margin-top: -10px;
      display: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0; }
      .page1 .face a:nth-child(2) {
        left: 0; }
      .page1 .face a:nth-child(3) {
        right: 0; }
  .page1 p {
    height: 24px;
    width: 100%;
    font-size: 24px;
    margin-bottom: 16px; }
  .page1 input {
    width: 266px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 25px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px; }
  .page1 a {
    width: 100px;
    height: 32px;
    border: 1px solid #000;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    position: absolute;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    bottom: 19px;
    font-size: 14px;
    background: #dbdbdb; }
    .page1 a:nth-child(5) {
      left: 148px; }
    .page1 a:nth-child(6) {
      left: 264px;
      background: #2a79d4; }

.page2 {
  display: none;
  width: 678px;
  height: 450px;
  border: 1px solid #969696;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  margin-top: -226px;
  margin-left: -340px; }
  .page2 .face {
    width: 64px;
    height: 64px;
    border: 1px solid #999;
    position: absolute;
    background: #fff;
    top: 0;
    left: 16px;
    margin-top: -32px; }
    .page2 .face img {
      width: 60px;
      height: 60px;
      margin: 2px 2px; }
  .page2 .top {
    width: 578px;
    height: 40px;
    border-bottom: 1px solid #969696;
    padding-left: 100px;
    line-height: 40px;
    font-size: 12px;
    font-family: 'Microsoft YaHei';
    position: relative; }
    .page2 .top span {
      display: block;
      position: absolute;
      top: 0; }
      .page2 .top span:nth-child(1) {
        width: 13px;
        height: 9px;
        border: 1px solid #9c9c9c;
        border-top: 2px solid #9c9c9c;
        right: 44px;
        margin-top: 13px;
        cursor: pointer; }
      .page2 .top span:nth-child(2) {
        width: 20px;
        height: 20px;
        font-size: 20px;
        margin-top: 9px;
        right: 12px;
        line-height: 20px;
        cursor: pointer; }
  .page2 .bottom {
    width: 678px;
    height: 409px; }
    .page2 .bottom .left {
      width: 488px;
      border-right: 1px solid #969696; }
      .page2 .bottom .left .left_top {
        width: 100%;
        height: 274px;
        position: relative;
        overflow: hidden; }
        .page2 .bottom .left .left_top ul {
          margin-left: 10px;
          font-size: 12px;
          font-family: 'Microsoft YaHei';
          font-weight: bold;
          position: absolute;
          top: 0;
          left: 0; }
          .page2 .bottom .left .left_top ul li {
            margin: 10px 0; }
            .page2 .bottom .left .left_top ul li h2 {
              font-weight: bold;
              font-family: '榛戜綋'; }
              .page2 .bottom .left .left_top ul li h2 strong {
                color: #00f;
                font-weight: bold;
                font-size: 20px;
                margin-right: 10px; }
              .page2 .bottom .left .left_top ul li h2 span {
                color: #36ffd1;
                font-size: 18px; }
            .page2 .bottom .left .left_top ul li p {
              text-indent: 2em;
              font-size: 16px; }
        .page2 .bottom .left .left_top .content_btn {
          position: absolute;
          right: 0;
          top: 0;
          width: 11px;
          height: 100%;
          background: #fafafa; }
          .page2 .bottom .left .left_top .content_btn .content_btn_bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 11px;
            height: 30px;
            background: #ccc; }
      .page2 .bottom .left .left_center {
        height: 35px;
        width: 100%;
        background: #edebeb;
        line-height: 35px;
        position: relative; }
        .page2 .bottom .left .left_center span {
          display: inline-block;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          font-size: 20px;
          margin-left: 10px;
          font-weight: bold;
          cursor: pointer; }
          .page2 .bottom .left .left_center span.expression {
            background: #ff0;
            border: 1px solid #000;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%; }
          .page2 .bottom .left .left_center span:hover {
            background: #fff; }
        .page2 .bottom .left .left_center .list {
          height: 20px;
          text-align: right;
          right: 10px;
          top: 8px;
          display: inline-block;
          position: absolute;
          width: 80px;
          line-height: 20px;
          font-size: 12px;
          padding-right: 5px;
          cursor: pointer; }
          .page2 .bottom .left .left_center .list:hover {
            background-color: #fff; }
          .page2 .bottom .left .left_center .list em {
            display: inline-block;
            width: 18px;
            float: left;
            height: 17px;
            background: url(../image/list.png) no-repeat;
            background-size: 100% 100%;
            margin: 2px; }
      .page2 .bottom .left .left_bottom {
        width: 100%;
        height: 100px;
        position: relative; }
        .page2 .bottom .left .left_bottom textarea {
          padding: 5px 0 0 10px;
          width: 400px;
          height: 80px;
          font-size: 16px;
          font-family: 'Microsoft YaHei'; }
        .page2 .bottom .left .left_bottom input {
          position: absolute;
          bottom: 0;
          right: 12px;
          width: 60px;
          height: 32px;
          background: #ddd;
          line-height: 32px;
          text-align: center;
          font-size: 14px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px; }
          .page2 .bottom .left .left_bottom input:active {
            background: #00f;
            color: #fff; }
    .page2 .bottom .right {
      width: 189px;
      height: 409px;
      position: relative;
      overflow: hidden; }
      .page2 .bottom .right ul {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 10px; }
        .page2 .bottom .right ul li img {
          width: 20px;
          height: 20px; }
        .page2 .bottom .right ul li span {
          font-size: 12px; }
      .page2 .bottom .right .last {
        width: 11px;
        height: 100%;
        background: #fafafa;
        position: absolute;
        right: 0;
        top: 0; }
        .page2 .bottom .right .last .last_bar {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: 11px;
          height: 30px;
          background: #ccc; }

/*# sourceMappingURL=index.css.map */
