@charset "utf-8";
/* CSS Document */
body{font-size:12px;background-color:#f7f7f7;}
*{padding:0px;margin:0px;line-height:100%;font-size:12px;font-family:宋体;border:0;}
li{list-style-type:none;}
ul p li{padding:0;margin:0;}
img{padding:0px;margin:0px;border:0x;}
a{text-decoration:none;color:#373737;
border:0;}
a:visited{color:#373737;}
a:hover{color:#ff3300;text-decoration:underline;}
.clearboth{clear:both;height:0px;line-height:0px;font-size:0px;}
#index{width:960px;margin: 0 auto;text-align:center;color:#1C1C1C;padding-top:15px;}
/*图片logo导航*/
#img{}
#img ul{}
#img ul li{width:162px;float:left;border:1px solid #cdcdcd;margin-left:35px;vertical-align:middle;padding-top:10px;padding-bottom:10px;background-color:#fbfbfb;margin-top:15px;}
#img ul li#m1{margin-left:0;}
#img ul li#m6{margin-left:0;}
/*w文字连接导航*/
.nav{margin-top:20px;padding:0px;text-align:left;background-color:#f9f9f9;border:1px solid #cecece;height:80px;}
.nav .left{width:80px;float:left;text-align:center;border-right:1px dashed #d2d2d2;height:81px;}
.nav .left img{display:inline-block;margin-top:8px;}
.nav .left span{display:inline-block;height:26px;line-height:26px;font-size:14px;font-family:"微软雅黑";}
.nav .right{width:870px;float:right;}
.nav .right span{display:inline-block;width:139px;height:40px;line-height:40px;text-align:center;border-right:1px dashed #d2d2d2;border-top:1px dashed #d2d2d2;;}
.nav .right span.no_b{border-top:0;}
.nav .right span.rr{border-right:0;}
.nav .right span a{display:block;line-height:40px;font-size:15px;font-family:"微软雅黑";text-align:center;}
.nav_hover{background:#f0f6e9;}