@CHARSET "UTF-8";
body{background:#f8f8f8;font:13px/1.5 'Microsoft Yahei','微软雅黑',Arial,sans-serif;margin:0px; padding:0px; color:#333;
}
div{margin:0 auto; padding:0;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{margin:0; padding:0; border:none; list-style-type:none;}
a{ color:#666;text-decoration:none;}
a:hover{ color:#0072c1;}
.clearboth{
clear:both;
}

/* top */
#top{border-bottom:2px solid #a40000;}
.top1 {
height:50px;
position:relative;
overflow:hidden;
}
.top1 .logo{
float:left;
background:url(../images/logo.jpg) left center no-repeat;
overflow:hidden;
display:block;
_display:inline;
margin-left:18px;
height:56px;
line-height:56px;
font-size:22px;
padding-left:40px;
color:#444;
}
.top1 .right{
width:380px;
float:right;
height:30px;
text-align:center;
line-height:30px;
margin-right:20px;
margin-top:12px;
}
.top1 .right{
	color:#555;
	font-family:arial,"宋体";
}
.top1 .right a{color:#555;}
.top1 .right a:hover{text-decoration:underline;color:#f39c11;}
.top1 .right .username{
color:#f39c11;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}
#tags_update{position:absolute;right:58px;bottom:1px;}
.top2{position:relative;}
.top2 .logo{
position:absolute;left:0px;top:0px;
background:url(../images/logo.jpg) left center no-repeat;background-size:28px 28px;
overflow:hidden;
display:block;
_display:inline;
margin-left:18px;
height:40px;
line-height:40px;
font-size:20px;
padding-left:40px;
color:#fff;
font-family: "微软雅黑";
z-index:99;
}

.top2 .right{
width:380px;
position:absolute;right:0px;top:0px;
height:30px;
text-align:center;
line-height:30px;
margin-right:20px;
margin-top:6px;
z-index:99;
}
.top2 .right{
	color:#fff;
	font-family:arial,"宋体";
}
.top2 .right a{color:#fff;}
.top2 .right a:hover{text-decoration:none;color:#f39c11;}
.top2 .right .username{
color:#f39c11;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}
#navs{
position:relative;
height:40px;
width:100%;
background:#e33b3d;
color:#fff;
line-height:40px;
}
#navs ul { 
padding:0px;
margin:0px;
height:40px;
display:block;
list-style:none;
padding-left:200px;
}
#navs li {float:left; display:inline; height:36px;}
#navs li a{
width:110px;
height:40px;
text-align:center;
display:block;
line-height:40px;
font-size:14px;
font-weight:bold;
color:#fff;
}
#navs li a:hover{background:#a40000;}
#navs li.current a{
background:#a40000;
height: 40px;
line-height: 40px;
text-decoration: none;
color:#fff;
}

#header h1 { position:absolute; left:18px; top:18px; width:215px; height:32px; text-indent:-999em; background:url(../images/logo.png) no-repeat;}
#header ul { margin-left:277px; padding-top:40px;}
#header li { float:left; display:inline; height:29px;margin-right:5px;  }
#header li a { float:left; padding:2px 18px 0; line-height:29px; font-size:14px; color:#222; background-position: right -34px;}
#header .current { background-position: 0 -68px}
#header .current a { background-position: right -102px}
#header p { position:absolute; right:12px; top:7px; *top:5px;}
#header p span, #header p a { float:left; margin:0 9px; *padding-top:2px;}
#header p .line { margin:0; padding:0; color:#ccc;}

.top1 .right{}
.left_menu{position: relative;display:block;float: left;width: 205px;overflow: hidden;overflow-y:auto;background:#fff;}
dl.menu {display:block;}
dl.menu dt{ display:block; background:#f1f1f1; height:34px;line-height:34px; margin:0px; color:#333;font-size:14px;color:#535353;
font-weight:bold; text-indent:50px;margin-bottom:4px;}
dl.menu dd{ display:block; background:#fff; padding:0; margin:1px 0px;  text-indent:30px;}
dl.menu dd a{ text-decoration:none;display:block;line-height:30px;height:30px;padding-left:20px;}
dl.menu dd a:hover{color:#e4393c;font-weight:bold;}
dl.menu dd.current a{background:#f1f1f1; color:#e4393c;font-weight:bold;border-right:3px solid #e4393c;}

#content{width:auto;display:block;}
#sidebar{float:left;display:block;width:12px;background:url("../images/sidebar.png") no-repeat 3px center #EEE;cursor:pointer;overflow:hidden;}
.right_frame{margin-right:8px;overflow:hidden;_zoom:1;background:#fff;}
#main_frame{overflow: visible;}

