@CHARSET "UTF-8";
.region_list{}
.region_list li{font-family:"微软雅黑";font-size:13px;float:left;line-height:30px;line-height:30px;text-align:center;margin-left:5px;
margin-right:5px;_display:inline;border:1px solid #acbfd0;padding:3px;margin-bottom: 15px;}
.region_list li a.item{color:#444;display:block;padding:0 15px 0 15px;background:#f0f0f0;}
.region_list li a.del{display:block;color:#999;}
.region_list li a.item:hover{text-decoration:none;background:#2086ee;color:#fff;}
.region_list li a.del:hover{color:#f00;}

.region_tab tr{border-bottom:1px solid #eee;font-family:"微软雅黑";font-size:12px;color:#777;}
.region_tab tr td{padding:6px 2px 6px 2px;}
.region_tab tr .region_title{text-align:right;padding-right:20px;}
.region_tab input{border:1px solid #d0d0d0;}

.region_tab input.btn1{background:#498cd0;color:#fff;text-align:center;border:none;font-family:"微软雅黑";}

.ContextMenu{width:60px;line-height:28px;position:absolute;background:#fff;display:none;}
.ContextMenu a{display:block;line-height:28px;background:#eee;text-align:center;font-family:'微软雅黑';font-size:12px;}
.ContextMenu a:hover{background:#498cd0;color:#fff;text-decoration:none;}
#region_count{
	font-weight:normal;
	padding: 0 20px;
	font-size:12px;
	font-family:"微软雅黑";
	width: auto;
	background-color: #fec006;
	color: #fff;
	margin-left: 10px;
}