@CHARSET "UTF-8";
body#login{ background:#004986;}
#login-wrap{width:914px;height:640px;background:url(../images/login_b1.jpg) no-repeat;margin:0 auto;position: relative;}

#top{background:url(../images/top1.jpg) 0 0 repeat-x;border-color:#004986;min-width: 1330px;overflow-x:hidden;}
#navs{background:#0068b9;color:#fff;}
#navs li.current a{background:#004986;color:#fff;}
#navs li a:hover {background:#004986;}

dl.menu dd a:hover{color:#0068b9;}
dl.menu dd.current a{background:#f1f1f1; color:#0068b9;border-right:3px solid #0068b9;}

/*登录界面*/
.login-main h1 {border-color:#0060ad;}
#loginFrm .admin_login {background:#0060ad;-webkit-box-shadow:inset 0 -4px 0 #004986;box-shadow:inset 0 -4px 0 #004986;}
#loginFrm .admin_login:hover{background:#004986;}
.login-cont .account1 input:focus{border-color:#00A0B1;}