@CHARSET "UTF-8";
body#login{ background:#631008;}
#login-wrap{width:914px;height:640px;background:url(../images/login_b5.jpg) no-repeat;margin:0 auto;position: relative;}

#top{background:url(../images/top5.jpg) 0 0 repeat-x;border-color:#a6281b;}
#navs{background:#cd2410;color:#fff;}
#navs li.current a{background:#9d210a;color:#fff;}
#navs li a:hover{background:#9d210a;}
dl.menu dd a:hover{color:#cd2410;}
dl.menu dd.current a{background:#f1f1f1; color:#cd2410;border-right:3px solid #cd2410;}

/*登录界面*/
.login-main h1 {border-color:#631008;}
#loginFrm .admin_login {background:#631008;-webkit-box-shadow:inset 0 -4px 0 #440c06;box-shadow:inset 0 -4px 0 #440c06;}
#loginFrm .admin_login:hover{background:#440c06;}
#loginFrm input:focus{border-color:#631008;}

.copyright{color:#eee;}
.copyright a{color:#eee;}