@CHARSET "UTF-8";
body#login{ background:#056d8a;}
#login-wrap{width:914px;height:640px;background:url(../images/login_b2.jpg) no-repeat;margin:0 auto;position: relative;}

#top{background:url(../images/top2.jpg) 0 0 repeat-x;border-color:#077985}
#navs{background:#00A0B1;color:#fff;}
#navs li.current a{background:#077985;color:#fff;}
#navs li a:hover{background:#077985;}
dl.menu dd a:hover{color:#00A0B1;}
dl.menu dd.current a{background:#f1f1f1; color:#00A0B1;border-right:3px solid #00A0B1;}

/*登录界面*/
.login-main h1 {border-color:#00A0B1;}
#loginFrm .admin_login {background:#00A0B1;-webkit-box-shadow:inset 0 -4px 0 #077985;box-shadow:inset 0 -4px 0 #077985;}
#loginFrm .admin_login:hover{background:#077985;}
#loginFrm input:focus{border-color:#00A0B1;}

.copyright{color:#eee;}
.copyright a{color:#eee;}