@charset "utf-8";
*{margin:0; padding:0;}
li{list-style:none;}
img{border:none;}
a{text-decoration:none;}
input,textarea{outline:none; resize:none; border:none;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{*zoom:1;}

body{background:url(../img/bg.jpg) center center no-repeat; background-size:100% 140%;}
/*登陆*/
.loginBox{width:290px; padding:80px 80px 0 80px; margin:150px auto;
    background-image: -webkit-linear-gradient(top,rgb(255,255,255),rgb(242,242,242));
    box-shadow: 0 0 3px rgba(21,62,78,0.8); position:relative;
    border-radius:2px;
}
.loginList{width:100%;}
.loginList li,.reg,.login{margin-bottom:10px; background:url(../img/9.png) 0 0 no-repeat; overflow:hidden;}
.loginList .hTxt{height:23px; background-position:0 0;}
.loginList li input{width:260px; margin:15px auto; color:#C3C3C3; display:block; font-weight:bold;}
.loginList .inputBox{background-position:0 -82px;height:46px;}
.loginList .inputBoxFocus{background-position:0 -31px;height:46px;}
.loginList .inputBoxFocus input{color:#848484;}
.loginList .btns{text-align:right; background:none;}
.reg{background-position:-64px -138px; width:107px; height:42px; display:inline-block; overflow:hidden;}
.login{background-position:-178px -138px; width:110px; height:42px; display:inline-block; overflow:hidden;}
.none{display:none;}

/*用户头像*/
.userImg{height:120px; width:120px; padding:2px; background:#FFF; box-shadow:0 0 3px #333; margin:5px; border-radius:3px; position:absolute; left:50%; top:0; margin-left:-60px; margin-top:-60px;}
.userImg img{width:120px; height:120px; display:block;}
/*头像切换*/
.userPrev,
.userNext{background:rgba(0,0,0,.4); text-shadow:0 0 3px #FFFFFF; width:20px; height:40px; position:absolute;top:50%; margin-top:-20px; z-index:2; color:#FFF; text-align:center; line-height:40px; font-weight:bold; font-size:20px; opacity:0; filter:alpha(opacity:0);}
.userPrev{left:2px;}
.userNext{right:2px;}

/*聊天窗口*/
.messageBox{width:678px; height:450px; border:#969696 solid 1px; border-radius:6px; background:#FFF; box-shadow:0 0 3px rgba(0,0,0,.4); position:absolute; left:50%; top:50%; margin-left:-339px; margin-top:-225px;}
.mess_head{height:40px; line-height:40px; position:relative; border-bottom:#969696 solid 1px;}
.mess_icon{height:60px; width:60px; position:absolute; left:16px; top:-34px; padding:2px; border:#999 solid 1px; background:#FFF; box-shadow:0 0 2px rgba(0,0,0,.4);}
.messName{float:left; font:12px/0 "\5B8B\4F53"; line-height:40px; margin-left:100px; color:#3F3F3F;}
.operate{float:right; padding-right:20px; padding-top:13px;}
.operate a{opacity:.7;}
.bigSize{background:url(../img/face/bigSize.png) left top no-repeat; float:left; width:16px; height:12px; margin-right:8px;}
.close{background:url(../img/face/close.png) left top no-repeat; float:left; width:12px; height:12px;}
.operate a:hover{opacity:1;}
/*主体内容*/
.messageContent{overflow:hidden; width:100%;}
.messageList{width:72%; float:left; border-right:#969696 solid 1px; height:410px;}
.messageListTop{height:250px; overflow:hidden; padding:14px; padding-bottom:0; position:relative; height:250px; margin-bottom:10px;}
.messageListContent{position:absolute; left:0; top:0; width:460px; margin:10px;}
.mList_y,.mList_m{overflow:hidden; margin-bottom:8px;}
.mList_y h3{font-size:12px; font-weight:normal; color:#464AF8; margin-bottom:5px;}
.mList_y p,.mList_m p{color:#000; font-size:12px; line-height:22px; padding-left:18px;}
.mList_y p img, .mList_m p img{vertical-align:middle; margin-top:-5px;}
.mList_m h3{color:#129F00;font-size:12px; font-weight:normal; margin-bottom:5px;}
.mListName{margin-right:18px;}
/*滚动条*/
.messageScroll{width:5px; background:#C8C8C8; overflow:hidden; position:absolute; right:6px; top:4px; border-radius:4px;}
.smallScroll{height:250px;}
.bigScroll{height:380px;}
.scrollThis{border-radius:5px; height:50px; overflow:hidden; background:rgba(0,0,0,.7); position:absolute; left:0; top:0; width:100%;}

/*工具*/
.tool{height:35px; padding-left:10px; background:#EDEBEB; position:relative;}
.font{background:url(../img/face/font.png) center 1px no-repeat; width:18px; height:18px; margin-top:8px; float:left; margin-right:10px; border-radius:3px;}
.expression{background:url(../img/face/expression.png) center center no-repeat;width:18px; height:18px; margin-top:8px; float:left; opacity:.8; border-radius:3px;}
.zxlb{background:url(../img/face/zxlb.png) 6px center no-repeat; float:right; height:22px; padding-left:28px; margin-top:6px; font-size:12px; color:#000; line-height:22px; margin-right:12px; border-radius:3px; padding-right:5px;}
.zxlb:hover{background-color:rgba(255,255,255,.8); box-shadow:0 0 2px #000;}
.font:hover, .expression:hover{background-color:rgba(255,255,255,.8); box-shadow:0 0 2px #000;}
/*工具栏 通用的容器*/
.comLayerBox{background:rgba(255,255,255,.8); border-radius:5px; position:absolute; top:5px; width:140px; -webkit-filter:drop-shadow(0 0 5px rgba(0,0,0,.7)); box-shadow:0 0 3px #000000; display:none;}
.comLayer{padding:5px; background:rgba(0,255,255,.8); /*margin:5px;*/ overflow:hidden; border-radius:5px;}
.comLayer span{float:left; width:25px; height:25px; margin-right:1px; margin-bottom:1px;}
.comLayer .c85C227{background:#85C227;}
.comLayer .c6C6C6C{background:#6C6C6C;}
.comLayer .cFF0000{background:#FF0000;}
.comLayer .cFF00D2{background:#FF00D2;}
.comLayer .cFFB400{background:#FFB400;}
.comLayer .c8706B1{background:#8706B1;}
.comLayer .c3600FF{background:#3600FF;}
.comLayer .c570905{background:#570905;}
.comLayer .c72FF00{background:#72FF00;}
.comLayer .cA3A3A3{background:#A3A3A3;}
.sj{width:0; height:0; overflow:hidden; border-style:solid dashed dashed dashed; border-color:rgba(255,255,255,.8) transparent transparent transparent; border-width:8px; position:absolute; left:50%; bottom:-16px; border-radius:4px; margin-left:-6px;}

/*输入框*/
.textareaBox{padding:5px 10px; height:100px; position:relative;}
.textInput{line-height:20px; font-size:12px;word-break:break-all; height:55px; overflow-y:auto; overflow-x:hidden; outline:none;}

.transmitBtn_n{background:url(../img/face/fasong.png) 0 1px no-repeat; width:70px; height:42px; position:absolute; right:8px; bottom:6px;}
.transmitBtn_y{background:url(../img/face/fasong.png) 0 -39px no-repeat; width:70px; height:42px; position:absolute; right:8px; bottom:6px;}

::-webkit-scrollbar{width:8px;height:12px;}
::-webkit-scrollbar-button{}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment{width:0;height:0;}
::-webkit-scrollbar-track-piece{background-clip:padding-box;background-color:whitesmoke;border:solid white;}
::-webkit-scrollbar-track-piece:horizontal{box-shadow:inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.05);border-width:0;}
::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.2);background-clip:padding-box;border:solid transparent;}
::-webkit-scrollbar-thumb:vertical{border-width:1px 1px 1px 2px;min-height:24px;box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.1);}
/*::-webkit-scrollbar-thumb:horizontal{border-width:2px 1px 1px 1px;min-width:24px;box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.1);}
*/
::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0,0,0,.6);box-shadow:inset 1px 1px 0 rgba(0,0,0,.5),inset 0 -1px 0 rgba(0,0,0,.3);}
::-webkit-scrollbar-thumb:horizontal:hover{background-color:rgba(0,0,0,.6);box-shadow:inset 1px 1px 0 rgba(0,0,0,.5),inset -1px 0 0 rgba(0,0,0,.3);}


/*在线成员*/
.onlineNumber{width:189px;float:right; margin-left:-1px; height:390px; overflow:hidden; position:relative; margin-top:10px;}
.onlineList{position:absolute; left:0; top:-100px; width:100%; padding-left:10px;}
.onlineList li{padding:5px 0; font-size:12px; overflow:hidden;}
.onlineList li img{float:left; height:20px; width:20px; margin-right:8px;}
.onlineList li span{line-height:20px; height:20px; float:left;}


/*提示框*/
.alertLayerBox{width:100%; height:100%; background:rgba(0,0,0,.3); position:fixed; left:0; top:0;}
.alertLayer{width:400px; height:200px; position:fixed; left:50%; top:50%; margin:-104px 0 0 -204px; background:#FFF; box-shadow:0 0 3px #999999; border-radius:4px; overflow:hidden; border:solid rgba(0,0,0,.7) 4px;}
.alertHead{height:32px; position:relative; background:#CCC;}
.alertHead h3{float:left; color:#000; padding-left:10px; font-size:14px; line-height:32px;}
.close{position:absolute;right:10px; top:9px;}
.alertContent{overflow:hidden; line-height:22px; padding:20px; font-size:14px;}